body{
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: cadetblue;
}

button{
    font-weight: 550;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }

#form, #big-card-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form input, #form button {
    font-size: 2vh;
    outline: none;
    text-align: center;
    border: none;
    background: thistle;
    box-shadow:  1px 1px 5px 1px rgb(26, 2, 10);
    border-radius: 7px;
    margin: 1vh;
}

#card-wrapper{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#card-wrapper .card{
    border: 1px solid thistle;
    margin: 1vw;
    border-radius: 20px;
    background: rgba(245, 222, 179, 0.863);
}

#card-wrapper .card img{
    height: 70%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#card-wrapper .card h3, p {
    margin-left: 10px;
}


